target/META-INF/mule-src/oimtosfmcnv/src/main/mule/oimtosfmcnv.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9e89601a-a358-41c4-96e3-4e473e06dd5a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="664483ea-c9fe-4cce-99b8-214d06cfc3d0" >
		<db:my-sql-connection host="sql6.freesqldatabase.com" port="3306" user="sql6446637" password=" ERgQNBk5Xr" database="sql6446637" />
	</db:config>
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="4041e862-d463-4f03-b82c-adc4d5411ba0" >
		<salesforce:basic-connection username="nikithashetty@apisero.com" password="Kajal1234@" securityToken="6fpAN6CB7gjva8pB4Bx50xRnG" />
	</salesforce:sfdc-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="c15a4cb7-3c26-4ec9-9246-4bb5cc278734">
		<http:request-connection host="localhost" port="8081" connectionIdleTimeout="3000000"/>
	</http:request-config>
	<flow name="GetDataFromMYSQL" doc:id="4b73f607-38f5-41ad-96a2-ee7619c5bb9f" >
		<http:listener doc:name="Listener MYSQL" doc:id="468faf28-d2f7-47dd-a6e9-c4cbca8a63b6" config-ref="HTTP_Listener_config" path="/employees"/>
		<db:select doc:name="SelectDataFromMYSQL" doc:id="88cc88a8-38cd-4cb1-ae41-9999f3e96c05" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from employees]]></db:sql>
		</db:select>
		<ee:transform doc:name="TransformDataOfMYSQL" doc:id="df0cc255-4eed-4f0b-a267-27fb479a86ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="InsertDataToMYSQL" doc:id="0dcf1b65-8b82-4b89-b74c-357d842fdc38" >
		<http:listener doc:name="Listener" doc:id="8afde73c-b0be-4f1c-99a8-4b97c2b876a7" config-ref="HTTP_Listener_config" path="/add"/>
		<db:insert doc:name="Insert" doc:id="bfe3452e-269a-440b-b3b8-5d4bbad01fef" config-ref="Database_Config">
			<db:sql ><![CDATA[INSERT INTO employees(EmpId,EmpName,Designation,City,State,DateOfJoining,Salary,LastUpdatedDate) 
Values (:EmpId,:EmpName,:Designation,:City,:State,:DateOfJoining,:Salary,:LastUpdatedDate)]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	"EmpId":payload.EmpId,
	"EmpName": payload.EmpName,
	"Designation" : payload.Designation,
	"City" : payload.City,
	"State" : payload.State,
	"DateOfJoining" : payload.DateOfJoining,
	"Salary" : payload.Salary,
	"LastUpdatedDate" : payload.LastUpdatedDate
}]]]></db:input-parameters>
		</db:insert>
	</flow>
	<flow name="SFMC-System-API" doc:id="7170ee42-7eae-48cd-9e46-bb0ac6179f84" >
		<http:listener doc:name="Listener-SFMC" doc:id="93c26af6-1b2d-4623-a04b-8ff6b928b793" config-ref="HTTP_Listener_config" path="/SFMC"/>
		<logger level="INFO" doc:name="SFMC Logger" doc:id="e5a5f5bb-2b92-4dd9-8800-ae9371fe6da4" />
		<ee:transform doc:name="SFMC Transform Message" doc:id="7c7794db-e5c4-425f-a5fc-c09a27d45e84" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="44a4bb20-0efe-448a-a3f5-724b75458ff7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
	EmpName__c: payload.EmpName,
	City__c: payload.City,
	State__c: payload.State,
	Salary__c: payload.Salary,
	Designation__c: payload.Designation
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create doc:name="Create" doc:id="19d184e5-2947-4a38-bcff-c57f2dda1021" config-ref="Salesforce_Config" type="employee__c"/>
		<ee:transform doc:name="Transform Message" doc:id="a7953212-4967-439d-9c5e-b7f61a99c27f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="16355db3-6640-465a-b427-37ac2bdb3a3c" type="ANY">
				<set-payload value="#[vars.payload]" doc:name="SFMC_SetPayload" doc:id="e306dedc-7223-4b17-8ceb-f5cc89f679b5" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="OIMtoSFMCFlow" doc:id="20f032b7-3b8b-4844-8cf5-2caa7880d47d" >
		<scheduler doc:name="OIMtoSFMC_Scheduler" doc:id="b03dcdff-95dc-42c3-97c4-a34633a1be0d" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<flow-ref doc:name="GetDataFromMySQL" doc:id="bc38b90f-319c-4496-84f7-aa389c6b1a0a" name="GetDataFromMYSQL" />
		<ee:transform doc:name="OIMtoSFMC" doc:id="cca0d09e-8a3d-423d-bdaa-820d521eb4b6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<set-variable value="#[payload]" doc:name="PayloadFromMySQL" doc:id="bad8a978-974c-417c-a10b-9f56f9f4c5d2" variableName="PayloadFromMySQL" />
		<os:retrieve doc:id="1636ffe1-83f6-4334-a821-4db24d8d1fa9" key="DateOfScheduler" doc:name="RetrieveDateOfScheduler" >
			<os:default-value ><![CDATA["No"]]></os:default-value>
		</os:retrieve>
		<set-variable value="#[payload]" doc:name="LastRunSchedulerDate" doc:id="80fd3a5e-a789-45b6-a18a-4ed1ee205018" variableName="LastRunSchedulerDate" />
		<foreach doc:name="OIMtoSFMC_For Each" doc:id="7b23f3ca-fb2f-4924-b55d-9c601cc26c59" collection="#[vars.PayloadFromMySQL]" >
			<choice doc:name="OIMtoSFMC_Choice" doc:id="fb23dadc-fa18-4afe-97b9-cc3b9432a4ef" >
				<when expression='#[payload.LastUpdatedDate as String &lt; vars.LastRunSchedulerDate as String default ""]' >
					<set-payload value="#[vars.PayloadFromMySQL]" doc:name="OIMtoSFMC" doc:id="cbd0662c-69e5-4da2-84e2-1e0b18508b5f" />
					<http:request method="POST" doc:name="RequestToSFMC" doc:id="9abb7520-c726-48c5-90f2-e77d9aadf1ff" config-ref="HTTP_Request_configuration" path="/SFMC" />
				</when>
				<otherwise >
					<logger level="INFO" doc:name="OIMtoSFMC" doc:id="d5841737-20fb-4ea9-bf07-0cbaf0c4ee81" message="No Data" />
				</otherwise>
			</choice>
		</foreach>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="ec4df273-127c-44b6-9837-a9c0d21de089" type="ANY" >
				<set-payload value="#[vars.payload]" doc:name="Set Payload" doc:id="baf386ee-9979-4588-92d4-65e76c964629" />
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="GetDataFlow" doc:id="9162fa4c-3790-4810-be52-0b83e9e20853" >
		<http:listener doc:name="GetData_Listener" doc:id="c1f18550-df51-4aed-bcee-f2ef0793c869" config-ref="HTTP_Listener_config" path="/usecase" />
		<flow-ref doc:name="OIMtoSFMCflow" doc:id="4b3abae6-194e-452b-9cb1-e7c194102a52" name="OIMtoSFMCFlow" />
	</flow>
	<flow name="SchedulerFlow" doc:id="d7acd94c-28f7-4652-9fe2-b6cc442d9edf" >
		<scheduler doc:name="employeeData_Scheduler" doc:id="eb89f1e0-71d8-4c1f-81f3-b059fe51e705" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="MINUTES" />
			</scheduling-strategy>
		</scheduler>
		<os:store doc:id="9c5de9d3-9c2e-47c9-81da-ee35223fc9cc" key="DateOfScheduler" doc:name="StoreDateOfScheduler" >
			<os:value ><![CDATA[#[now()]]]></os:value>
		</os:store>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="4e7538b6-8a73-43ee-b478-a91a27023de3" type="ANY" >
				<set-payload value="#[vars.payload]" doc:name="error_setpayload" doc:id="8c744821-c3be-4ff2-8e62-d5ddd0486a28" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
